---
import { createMetadata } from '@/utils/metadata';

const metadata = createMetadata({
  pageTitle: 'Page Not Found',
  pageDescription: 'Oops! This page does not exist.',
  pageURL: 'https://me-in-bytes.vercel.app/404'
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={metadata.pageDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={metadata.pageURL} />
    <meta property="og:title" content={metadata.pageTitle} />
    <meta property="og:description" content={metadata.pageDescription} />
    <title>{metadata.pageTitle}</title>
  </head>

  <body class="error-page">
    <main class="error-page__main" aria-labelledby="error-section__title">
      <section id="error-section" class="error-section">
        <h1 id="error-section__title" class="error-section__title">
          404 - Page Not Found
        </h1>
        <p class="error-section__message">
          Sorry, the page you’re looking for doesn’t exist or has been moved.
        </p>
        <p class="error-section__back">
          <a
            href="/"
            aria-label="Go back to the blog homepage"
            class="error-section__link"
          >
            ← Back to Blog
          </a>
        </p>
      </section>
    </main>
  </body>
</html>

<style>
  .error-page {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  .error-page__main {
    max-width: 37.5rem;
    padding: 2.5rem;
  }
  .error-section__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .error-section__message {
    margin-bottom: 2rem;
  }
  .error-section__link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #1c7ed6;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  .error-section__link:hover {
    background-color: #339af0;
  }
</style>
