---
import type { CollectionEntry } from 'astro:content';

interface RecentPostsProps {
  recentPostsHeading?: string;
  recentPosts: CollectionEntry<'posts'>[];
}

const { recentPostsHeading = 'Latest Posts', recentPosts } =
  Astro.props as RecentPostsProps;
---

<div aria-labelledby="recent-posts-heading" class="recent-posts">
  <h2 id="recent-posts-heading" class="recent-posts__heading">
    {recentPostsHeading}
  </h2>
  <ul class="recent-posts__list" role="list">
    {
      recentPosts.slice(0, 3).map(post => (
        <li class="recent-posts__item" id={post.id}>
          <article class="recent-posts__post">
            <div class="recent-posts__post-header">
              <p class="recent-posts__meta">
                <time
                  datetime={post.data.date.toISOString()}
                  title={post.data.date.toUTCString()}
                >
                  {(() => {
                    const date = post.data.date;
                    const month = date.getMonth() + 1;
                    const day = String(date.getDate()).padStart(2, '0');
                    const year = date.getFullYear();
                    return `${month}-${day}-${year}`;
                  })()}
                </time>
              </p>
              <h3 class="recent-posts__post-title">
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </h3>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .recent-posts {
    margin-block: 2rem;
  }

  .recent-posts__heading {
    color: var(--subtext-1);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .recent-posts__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
  }

  .recent-posts__post-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .recent-posts__meta {
    color: var(--subtext);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    flex-shrink: 0;
    white-space: nowrap;
  }

  .recent-posts__post-title {
    font-size: 1rem;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recent-posts__post-title a {
    position: relative;
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  .recent-posts__post-title a:focus-visible::before,
  .recent-posts__post-title a:focus-visible::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.25rem;
    background-color: var(--focus-color);
    border-radius: 0.125rem;
  }

  .recent-posts__post-title a:focus-visible::before {
    left: -0.5rem;
  }

  .recent-posts__post-title a:focus-visible::after {
    right: -0.5rem;
  }
</style>
