---
import type { CollectionEntry } from 'astro:content';

interface RecentPostsProps {
  recentPostsHeading?: string;
  recentPosts: CollectionEntry<'posts'>[];
}

const { recentPostsHeading = 'Latest Posts', recentPosts } =
  Astro.props as RecentPostsProps;
---

<div aria-labelledby="recent-posts-heading" class="recent-posts">
  <h2 id="recent-posts-heading" class="recent-posts__heading">
    {recentPostsHeading}
  </h2>
  <ul class="recent-posts__list" role="list">
    {
      recentPosts.slice(0, 3).map(post => (
        <li class="recent-posts__item" id={post.id}>
          <article class="recent-posts__post">
            <h3 class="recent-posts__post-title">
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </h3>
            <p class="recent-posts__meta">
              <time
                datetime={post.data.date.toISOString()}
                title={post.data.date.toUTCString()}
              >
                {post.data.date.toLocaleDateString('en-US', {
                  dateStyle: 'long'
                })}
              </time>
            </p>
            <p class="recent-posts__description">{post.data.description}</p>
          </article>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .recent-posts {
    margin-block: 2rem;
  }

  .recent-posts__heading {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .recent-posts__post-title {
    font-size: 1rem;
  }

  .recent-posts__post-title a:focus {
    outline: var(--outline);
    box-shadow: none;
    border-radius: 0.125rem;
  }

  @media (min-width: 37.5rem) {
    .recent-posts__post-title {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 55rem) {
    .recent-posts__post-title {
      font-size: 1.2rem;
    }
  }

  .recent-posts__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
  }

  .recent-posts__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .recent-posts__meta {
    color: var(--subtext);
  }
</style>
